body {
  background-color: #ffa9f0;
}

#text {
  background-color: #a9ffb8;
  color: #fe44dd;
  padding: 10px;
}

#game {
  max-width: 500px;
  max-height: 400px;
  background-color: #ffffff;
  color: #fe44dd;
  margin: 30px auto 0px;
  padding: 10px;
}

#controls,
#stats {
  border: 1px solid #ffa9f0;
  padding: 5px;
  color: #fe44dd;
}

#monsterStats {
  display: none;
  border: 1px solid #ffa9f0;
  padding: 5px;
  color: #fe44dd;
  background-color: #ffe3a9;
}

.stat {
  padding-right: 10px;
}

button {
  cursor: pointer;
  color: #fe44dd;
  background-color: #a9c5ff;
  background-image: linear-gradient(#cdddff, #75a1ff);
  border: 3px solid #a9c5ff;
  border-radius: 10px
}
